In [1]:
import pandas as pd

Q1

In [2]:
df = pd.DataFrame({
    'Study time hrs' : [6,5,8,7,9,10,4]
    , 'Score' : [45,50,60,70,80,50,35]
})

In [4]:
df.corr(method = "pearson")

                Study time hrs     Score
Study time hrs        1.000000  0.601506
Score                 0.601506  1.000000

Study time and Score has Positive replationship but not strong.

Q2

In [5]:
df = pd.DataFrame({
    'Sleep time hrs' : [6,5,8,7,9,10,4]
    , 'Job Satisfaction' : [4,5,8,9,2,6,7]
})

In [7]:
df.corr(method= "spearman")

                  Sleep time hrs  Job Satisfaction
Sleep time hrs          1.000000         -0.107143
Job Satisfaction       -0.107143          1.000000

Sleep time and Job satisfaction is negativly correlated and almost zero effect

Q3.

In [10]:
df = pd.DataFrame({
    'Exercise time hrs' : [6,5,8,7,9,10,4]
    , 'BMI' : [18.5,20,25,22,30,19.5,16]
})

In [12]:
df.corr(method = "pearson")

                   Exercise time hrs       BMI
Exercise time hrs           1.000000  0.612764
BMI                         0.612764  1.000000

In [13]:
df.corr(method= "spearman")

                   Exercise time hrs       BMI
Exercise time hrs           1.000000  0.571429
BMI                         0.571429  1.000000

Q6.

In [14]:
import numpy as np

In [21]:
df = pd.DataFrame({
        "Calls per day" : np.linspace(10,80,30,dtype = "int")
        , "Sales_per_day" : np.linspace(0,10,30,dtype = "int")
})

In [22]:
df.head()

   Calls per day  Sales_per_day
0             10              0
1             12              0
2             14              0
3             17              1
4             19              1

In [23]:
df.corr(method = "pearson")

               Calls per day  Sales_per_day
Calls per day       1.000000       0.995165
Sales_per_day       0.995165       1.000000